GitPython==1.0.1
Jinja2==2.8
MarkupSafe==0.23
PyMySQL==0.6.7
SQLAlchemy==1.0.11
WTForms==2.1
argparse==1.4.0
dominate==2.1.16
ecdsa==0.13
gitdb==0.6.4
ipaddress==1.0.16
itsdangerous==0.24
lxml==3.5.0
ncclient
nxosNCRPC==0.1
paramiko==1.16.0
pycrypto==2.6.1
requests==2.9.1
six==1.10.0
smmap==0.9.0
tabulate==0.7.5
visitor==0.1.2
websocket-client==0.35.0
wsgiref==0.1.2